{% extends 'base.html.twig' %}

{% block title %}Histotrip - détail{% endblock %}

{% block body %}

{% set mainPicture = (pictures|filter(p => p.isMain == true)|first) %}

<main class="flex flex-col gap-6 my-4 px-8">

    <section class="flex flex-col gap-4">
        <div class="flex flex-col justify-center items-center">
            <h1>{{ place.name }}</h1>
            <p>{{ place.subtitle }}</p>
            <p>Note : {{ place.rating }}</p>
            <p>Validé : {{ place.isValid }}</p>
            <p>Créé le : {{ place.createdAt|date("d/m/Y") }}{% if place.updatedAt %} - {{ place.updatedAt|date("d/m/Y") }}{% endif %}</p>
            <p>Slug : {{ place.slug }}</p>
        </div>
        <div class="flex gap-3">
            <img src="{{ mainPicture.cdnUrl }}" alt="" class="w-1/2">
            <div class="flex flex-col gap-2">
                <div>
                    <h3>Catégories :</h3>
                    <ul class="flex flex-row gap-1 flex-wrap">
                    {% for category in categories %}
                        <li class="py-0.5 px-1.5 bg-emerald-700 text-white rounded-md">{{ category.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3>Siècles :</h3>
                    <ul class="flex flex-row gap-1 flex-wrap">
                    {% for century in centuries %}
                        <li class="py-0.5 px-1.5 bg-emerald-700 text-white rounded-md">{{ century.century }} - {{ century.period }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3>Tags :</h3>
                    <ul class="flex flex-row gap-1 flex-wrap">
                    {% for tag in tags %}
                        <li class="py-0.5 px-1.5 bg-emerald-700 text-white rounded-md">{{ tag.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="flex flex-col gap-4">
            <div>
                <h3>Coordonnées :</h3>
                <p>{{ place.address }} - {{ place.postcode }} - {{ place.city }} - {{ place.country }}</p>
                <p>latitude : {{ place.latitude }} - longitude : {{ place.longitude }}</p>
                <p>{{ place.phone }}</p>
                <p>{{ place.website }}</p>
            </div>
            <div>
                <h3>Description :</h3>
                <p>{{ place.description }}</p>
            </div>
            <div>
                <h3>Renseignements pratiques :</h3>
                <p>Prix : {{ place.price }}</p>
                {# <p>Heures d'ouvertures : {{ place.opening_hours }}</p> #}
                <p>Accessible pour les handicapés : {{ place.accessibility }}</p>
                <p>Visite guidée : {{ place.guidedTour }}</p>
            </div>

    </section>

    <section>
        <h3>Images :</h3>
        <div class="flex flex-wrap gap-2">
        {% for picture in pictures %}
            <div>
                <img src="{{ picture.cdnUrl }}" alt="" class="max-w-xs">
                <p>{{ picture.name }}</p>
            </div>
        {% endfor %}
        </div>
    </section>

</main>

{% endblock %}